# Telegram Bot
TELEGRAM_BOT_TOKEN=8840030204:AAF57FwI8v-k4-vMf-gKE2xo6tyKDkcKFkM

# Admin Config
ADMIN_CHAT_ID=7552634255

# App Config
NEXT_PUBLIC_APP_URL=https://study-material-bot.vercel.app
NEXT_PUBLIC_BOT_USERNAME=semxybhabhi_bot
